:root {
  --heading: "Josefin Sans", sans-serif;
  --body: "Josefin Slab", serif;
  --monospace: "PT Mono", monospace;
  --primary-color: black;
  --secondary-color: white;
  --button-hover-transiton: all 200ms ease-in-out;
  --button-border-radius: 20px;
  --yellow: #ffe700;
  --pink: #fe4e6e;
  --purple: #613864;
  --gray: #faf9f9;
  --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  font-family: var(--heading);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}

body {
  font-family: var(--body);
  font-weight: 500;
  font-size: 18px;
}

footer .site-info {
  display: block;
  padding: 20px 0px 0px 0px;
  font-family: var(--heading);
  background-color: var(--gray);
  text-align: center;
  margin: 20px auto;
  font-size: 14px;
}

footer span {
  display: inline-block;
}

.navbar {
  background-color: var(--purple) !important;
  color: white !important;
}
.navbar-brand,
.offcanvas-header {
  font-family: var(--monospace);
  font-size: 28px !important;
  color: white !important;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active .navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.offcanvas {
  background-color: var(--purple) !important;
}
.offcanvas-title {
  font-family: var(--monospace);
}

.offcanvas .nav-item {
  font-size: 18px;
  font-weight: bolder;
  font-family: var(--heading);
}

.offcanvas-social i {
  color: white;
}

.offcanvas-social a:hover {
  color: var(--pink);
}

.shecodes a {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: white;
}

.home-hero {
  background-color: var(--gray);
  padding-top: 170px;
  padding-bottom: 100px;
}
.here-title {
  margin: 0 !important;
  line-height: 50px;
}
.bg-underline li {
  display: inline-block;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    var(--yellow) 50%
  ) !important;
}
.row {
  margin-left: 0px !important;
}

.navigation-links {
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 10px 10px;
  border-radius: 30px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.btn-dark-color {
  background: var(--pink);
  color: white;
  text-decoration: none;
  max-width: 150px !important;
  transition: all 200ms ease-in-out;
}

.btn-dark-color:hover {
  background: white;
  color: var(--pink);
  border: 1px solid var(--pink);
}

.btn-light-color {
  color: var(--pink);
  background-color: white;
  border: 1px solid var(--pink);
  text-decoration: none;
  max-width: 150px !important;
  transition: all 200ms ease-in-out;
}

.btn-light-color:hover {
  color: white;
  background-color: var(--pink);
  border: 1px solid var(--pink);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--purple);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.img-nicole {
  max-width: 400px !important;
  border-radius: 50% 20% / 10% 40%;
}

.footer-dark {
  color: white;
  font-family: var(--body);
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
}

.footer-dark a {
  color: #ff3cac;
}

.span-footer-name {
  background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.span-footer-name:hover {
  transform: scale(1.1);
}
.span-footer-coffee {
  font-size: larger;
}

.span-footer-coffee:hover {
  transform: scale(1.3);
}
